@attribute [Route(Routes.Users.PrivateProfile)]


<section>
    User Details
    
    Download User Info
    
    Delete Account
</section>

<section>
    My Components
    
    Table
    Name ... Delete
</section>

@code {

}