@using ComponentHub.Client.Features.Auth
@using ComponentHub.Domain.Api


<form formname="login-form" method="post" action="@Endpoints.Auth.ExternalLogin">
    <input type="hidden" name="Provider" value="BattleNet"/>
    <input type="hidden" name="ReturnUrl" value="@(ReturnUrl)"/>
    <MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Login with BattleNet</MudButton>
</form>

@code {
    [SupplyParameterFromQuery] private string ReturnUrl { get; set; } = "/";
}