@using MudExtensions.Enums

<PageTitle>Not Found</PageTitle>
<HeadContent>
    <meta name="robots" content="noindex" />
</HeadContent>

<div style=".center">
    <MudTextM3 Typo="TypoM3.Display" Size="Size.Large" Color="Color.Error">ERROR 404: NOT FOUND</MudTextM3>
</div>

@code {

}

<style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
</style>